* {
  margin:0;
  Padding: 0;
}



nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;
  /*background-color: salmon;*/
  z-index: 10;
  
}

nav2 {
  /*position: absolute;*/
  top: 0;
  left: 0;
  width: 100vw;
  height: 12vh;
  /*background-color: salmon;*/
  z-index: 10;
  
}

.gif {
   
  width: 100vw;
  height: 20vw;
  background-image: url('../image/kupu.gif');
  background-position: center center;
  background-size: contain ;
  /*background-color: cyan;*/
  z-index: 10;
}

.gifkupu {
  position: absolute;
  margin-top: 28vw;
  margin-left : 35vw;
  width: 10vw;
  height: 20vw;
  float: left;
  background-image: url('../image/kupuu.gif');
  background-position: center center;
  background-size: contain ;
   background-repeat: no-repeat;
  /*background-color: cyan;*/
  z-index: 20;
}

.gifkupu2 {
  position: absolute;
  margin-top: 28vw;
  margin-left : 75vw;
  width: 10vw;
  height: 20vw;
  float: left;
  background-image: url('../image/kupuu.gif');
  background-position: center center;
  background-size: contain ;
   background-repeat: no-repeat;
  /*background-color: cyan;*/
  z-index: 20;
}

.main_container_homepage {
  width: 100vw;
  height: 135vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../image/bghome2.jpg');
  background-position: center center;
  background-size: contain ;
  /*background-color: cyan;*/

}

.card_text_homepage {
  width: 39vw;
  height: 50vw;
  float: left;
  margin-top : 5vh;
  margin-left: 2vw;
  margin-right: 10vw;
  /*background-color: cyan;*/
  
}

.dalamcard_text_homepage {
  width: 37vw;
  padding: 1vw;
  /*background-color: brown;*/
  
}


.dalamcard_homepage_top {
  width: 70vw;
  margin-top : 30px;
  margin-left: auto;
  margin-right: auto;
  /*background-color: cyan;*/
  
}


.card_tanganabc {
  width: 39vw;
  height: 50vw;
  float: left;
  margin-top: 5vh;
  margin-left: 10vw;
  background-image: url('../image/tanganabc.png');
  background-position: center center;
  background-size: contain ;
  background-repeat: no-repeat;
  /*background-color: cyan;*/
}

.card_homepage_top_section {
  width: 39.2vw;
  height: 3vw;
  float: left;
  padding-top: 1vw;
  background-image: url('../image/section_emblem.png');
  background-position: center center;
  background-size: cover ;
  background-repeat: no-repeat;
  /*background-color: yellow;*/
  
}

.rumah_whitehole_kel1 {
  width: 39.2vw;
  height: 22vw;
  margin-top: 24vh;
  padding-left: 10vw;
  padding-right: 0.8vw;
  float: left;
  /*background-color: cyan;*/
  
}

.rumah_whitehole_kel2 {
  width: 39.2vw;
  height: 22vw;
  margin-top : 24vh;
  padding-right: 10vw;
  padding-left: 0.8vw;
  float: left;
  /*background-color: red;*/
  
}

.whitehole {
  width: 18vw;
  height: 18vw;
  float: left;
  margin-left: 1.6vw;
  background-image: url('../image/white_hole.png');
  background-position: center center;
  background-size: cover ;
  /*background-color: cyan;*/
}

.whitehole_unik {
  width: 18vw;
  height: 18vw;
  float: left;
  margin-left: 0vw;
  background-image: url('../image/white_hole.png');
  background-position: center center;
  background-size: cover ;
  /*background-color: cyan;*/
}

.dalamwhitehole {
  width: 9vw;
  padding-left: 4vw;
  padding-right: 4vw;
  margin-top : 7vw;
  margin-left: auto;
  margin-right: auto;
  /*background-color: brown;*/
  
}

.card_homepage_top {
  width: 100vw;
  height: 70vw;
  margin: 0%;
  padding-top: 7vw;
  padding-left: 0vw;
  padding-right: 0vw;
  background-image: url('../image/typography_image.png');
  background-position: center center;
  background-size: cover ;
  /*background-color: cyan;*/
  
}

/**/
/**/
/**/
/**/
.main_container_homepage2 {
  width: 100vw;
  height: 135vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../image/bghome2.jpg');
  background-position: center center;
  background-size: contain ;
  /*background-color: cyan;*/
}

.whitehole_nav {
  width: 12.8vw;
  height: 14vh;
  float: left;
  margin-top : 0;
  margin-left: 6vw;
  padding-top: 0.35vw;
  background-image: url('../image/white_hole.png');
  background-position: center center;
  background-size: cover ;
  /*background-color: cyan;*/
  
}

.whitehole_nav_page2 {
  width: 12.8vw;
  height: 12vh;
  float: left;
  margin-top : 0;
  margin-left: 6vw;
  /*background-color: cyan;*/
  
}

.whitehole_nav.home {
  background-image: url('../image/home_emblem6.png');
  background-position: center bottom;
  background-size: contain ;
  background-repeat: no-repeat;
  /*background-color: cyan;*/
  
}

.whitehole_nav.home2 {
  background-image: url('../image/home_emblem9.png');
  background-position: center bottom;
  background-size: contain ;
  background-repeat: no-repeat;
}

.dalamwhitehole_nav {
  width: 7.8vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  margin-top : 4.3vh;
  margin-left: auto;
  margin-right: auto;
  /*background-color: brown;*/
  
}

.card_page2_top {
  width: 100vw;
  height: 50vw;
  margin: 0;
  padding-top: 5vw;
  background-image: url('../image/system_fonts_toppp4.png');
  background-position: center center;
  background-size: cover ;
  /*background-color: cyan;*/
  
}

.dalamcard_page2_top {
  width: 55vw;
  height: 10vw;
  margin-top : 4vw;
  margin-left: 30vw;
  margin-right: 15vw;
  /*background-color: cyan;*/
  
}

.dalamcard_page2_top_header {
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top : 10vw;
  /*background-color: brown;*/
  
}

.container_page2_kedua {
  width: 100vw;
  height: 7vw;
  margin-top: 30vw;
  /*background-color: cyan;*/
}

.container_pembagian_page2 {
  width: 25vw;
  height: 25.5vw;
  float: left;
  margin-left: 6.25vw;
  /*background-color: yellow;*/
}

.card_nomor_page2 {
  width: 7vw;
  height: 7vw;
  margin-left: 9.25vw;
  margin-top: 2vw;
  float: left;
  background-image: url('../image/nomor_case.png');
  background-position: center center;
  background-size: cover ;
  /*background-color: white;*/
  
}
.card_text_page2_triplet {
  width: 22.6vw;
  padding: 1.2vw;
  float: left;
  text-align: center;
  line-height: 2vw;
  /*margin-left: 6.25vw;*/
  /*background-color: brown;*/
  
}

.margintop2 {
  margin-top: 2vw;
}

.margin1525 {
  margin-right: 15.25vw;
}


.penengah_nomor_page2 {
   margin-left: 24.25vw;
  
}



.text_panjang {
  width: 87.5vw;
  padding-left: 6.25vw;
  padding-right: 6.25vw;
  height: 7vw;
  text-align: center;
  /*background-color: brown;*/
}

.margin_right625 {
  margin-right: 6.25vw;
}

/**/
/**/
/**/
/**/
/**/

.container_pembagian_page3 {
  width: 25vw;
  height: 27.5vw;
  float: left;
  margin-left: 16.67vw;
  /*background-color: orange;*/
}

.card_nomor_page3 {
  width: 7vw;
  height: 7vw;
  margin-left: 9vw;
  margin-bottom: 2vw;
  float: left;
  background-image: url('../image/nomor_case.png');
  background-position: center center;
  background-size: cover ;
  /*background-color: brown;*/
  
}


.card_text_page3_duo {
  width: 22.6vw;
  padding: 1.2vw;
  float: left;
  text-align: center;
  line-height: 2vw;

  /*background-color: brown;*/
}


.main_container_page3 {
  width: 100vw;
  height: 166vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../image/bghome2.jpg');
  background-position: center center;
  background-size: contain ;
}

.card_page3_top {
  width: 100vw;
  height: 50vw;
  margin-top: 0vw;
  padding-top: 5.8vw;
  background-image: url('../image/person_typing14.png');
  background-position: center bottom;
  background-size: 116.8vw  ;
  /*background-color: cyan;*/
}

.dalamcard_page3_top {
  width: 80vw;
  height: 10vw;
  margin-top : 6vw;
  margin-left: 10vw;
  margin-right: 10vw;
  /*background-color: cyan;*/
  
}

.dalamcard_page3_top_header {
  width: 19.5vw;
  height: 11vw;
  float: left;
  margin-left: 12vw;
  margin-top : 6vw;
  padding: 1.5vw;
  text-align: center;
  /*background-color: brown;*/
  
}

.dalamcard_page3_top_header_right {
  width: 20.5vw;
  height: 11vw;
  float: left;
  margin-left: 31vw;
  margin-right: 11vw;
  margin-top: 6vw;
  padding: 1.5vw;
  text-align: center;
  /*background-color: brown;*/
  
}

.anna_container {
  width: 76vw;
  height: 15vw;
  padding-left: 17vw;
  padding-right: 7vw;
  padding-top: 5vw;
  background-image: url('../image/anna.png');
  background-position: center center;
  background-size: 80vw;
  background-repeat: no-repeat;
  /*background-color: brown;*/
}

.dalam_anna {
  width: 52vw;
  height:3.6vw;
  padding-top: 1.4vw;
  /*background-color: cyan;*/
}

.container_page3_kedua {
  width: 100vw;
  height: 26vw;
  /*background-color: cyan;*/
}




.penengah_nomor_page3 {
   margin-left: 33vw;
   margin-right: 26.5vw;
}



.margin_page3_penengah_text {
  margin-left: 15vw;
  margin-right: 17.5vw;
}

.text_panjang2 {
  width: 72vw;
  padding-left: 14vw;
  padding-right: 14vw;
  height: 7vw;
  /*text-align: center;*/
  /*background-color: brown;*/
}

/**/
/**/
/**/
/**/
/**/

.main_container_page4 {
  width: 100vw;
  height: 127vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../image/bghome2.jpg');
  background-position: center center;
  background-size: contain ;
}

.card_page4_top {
  width: 100vw;
  height: 50vw;
  margin-top: 0vw;
  padding-top: 5.8vw;
  background-image: url('../image/davin4.png');
  background-position: center bottom;
  background-size: contain  ;
  /*background-color: cyan;*/
}

.dalamcard_page4_top {
  width: 80vw;
  height: 10vw;
  margin-top : 20vw;
  margin-left: 10vw;
  margin-right: 10vw;
  /*background-color: cyan;*/
  
}

.text_p_satu_page4 {
  width: 16vw;
  height: 38vw;
  margin-top: 5vw;
  margin-left: 21vw;
  margin-right: 8vw;
  float:left;
   /*background-color: cyan;*/
 
}

.text_p_dua_page4 {
  width: 44vw;
  height: 3vw;
  margin-top: 5vw;
  /*margin-left: 0vw;*/
  margin-right: 11vw;
  float: left;
  /*background-color: cyan;*/
}

.text_p_tiga_page4 {
  width: 40vw;
  height: 33.1vw;
  margin-top: 2vw;
  /*margin-left: 0vw;*/
  margin-right: 15vw;
  float: left;
  /*background-color: cyan;*/
}

.text_p_empat_page4 {
  width: 40vw;
  height: 14vw;
  margin-top: 5vw;
  margin-left: 17vw;
  padding: 2vw;
  padding-bottom: 3vw;
  float: left;
  background-color: white;
}

.dala {
  width: 40vw;
  height: 28vw;
  margin-top: 0vw;
  margin-left: -7vw;
  float: left;
  background-image: url('../image/ulala.png');
  background-position: center -5vw;
  background-size: 40vw ;
  background-repeat: no-repeat;
  z-index: 10
  position: absolute;
  /*background-color: cyan;*/

}


/**/
/**/
/**/
/**/
/**/


.main_container_page5 {
  width: 100vw;
  height: 135vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../image/bghome2.jpg');
  background-position: center center;
  background-size: contain ;
}

.card_page5_top {
  width: 100vw;
  height: 50vw;
  margin-top: 0vw;
  padding-top: 5.8vw;
  background-image: url('../image/kakii.png');
  background-position: center bottom;
  background-size: contain  ;
  /*background-color: cyan;*/
}

.dalamcard_page5_top {
  width: 80vw;
  height: 10vw;
  margin-top : 16vw;
  margin-left: 10vw;
  margin-right: 10vw;
  /*background-color: cyan;*/
  
}

.text_panjang_page4 {
  width: 72vw;
  padding-left: 14vw;
  padding-right: 14vw;
  height: 7vw;
  margin-top: 2vw;
  margin-bottom: 4vw;
  /*text-align: center;*/
  /*background-color: brown;*/
}



@media (max-width: 1024px) {
  
  
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vw;
  /*background-color: salmon;*/
  z-index: 10;
  
}

.whitehole_nav {
  width: 12.8vw;
  height: 10vw;
  float: left;
  margin-top : 0;
  margin-left: 6vw;
  padding-top: 0vw;
  background-image: url('../image/white_hole.png');
  background-position: center center;
  background-size: cover ;
  /*background-color: cyan;*/
  
}
  
.main_container_homepage {
  width: 100vw;
  height: 257vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../image/bghome2.jpg');
  background-position: center center;
  background-size: contain ;
  /*background-color: cyan;*/

}

.card_homepage_top {
  width: 100vw;
  height: 70vw;
  margin: 0%;
  padding-top: 7vw;
  padding-left: 0vw;
  padding-right: 0vw;
  background-image: url('../image/typography_image.png');
  background-position: center center;
  background-size: cover ;
  /*background-color: cyan;*/
  
}


.rumah_whitehole_kel1 {
  width: 60vw;
  height: 30vw;
  margin-top: 7vw;
  padding-left: 20vw;
  padding-right: 20vw;
  float: left;
  /*background-color: red;*/
  
}

.rumah_whitehole_kel2 {
  width: 60vw;
  height: 30vw;
  margin-top : 10vh;
  padding-right: 20vw;
  padding-left: 20vw;
  float: left;
  /*background-color: red;*/
  
}

.card_homepage_top_section {
  width: 60vw;
  height: 3vw;
  float: left;
  padding-top: 1vw;
  background-image: url('../image/section_emblem.png');
  background-position: center center;
  background-size: cover ;
  background-repeat: no-repeat;
  /*background-color: yellow;*/
  
}

.whitehole {
  width: 27vw;
  height: 27vw;
  float: left;
  /*margin-left: 23vw;*/
  background-image: url('../image/white_hole.png');
  background-position: -8.5vw center;
  background-size: cover ;
  /*background-color: cyan;*/
}

.whitehole_unik {
   width: 27vw;
  height: 27vw;
  float: left;
  margin-left: 2vw;
  background-image: url('../image/white_hole.png');
  background-position: -8.5vw center;
  background-size: cover ;
  /*background-color: cyan;*/
}

.dalamwhitehole {
  width: 19vw;
  height: 10vw;
  padding-left: 4vw;
  padding-right: 4vw;
  margin-top : 8.5vw;
  /*background-color: brown;*/
  
}

.gifkupu {
  position: absolute;
  margin-top: 21vw;
  margin-left : 58vw;
  margin-right : 32vw;
  width: 10vw;
  height: 20vw;
  float: left;
  background-image: url('../image/kupuu.gif');
  background-position: center center;
  background-size: contain ;
   background-repeat: no-repeat;
  /*background-color: cyan;*/
  z-index: 20;
}

.gifkupu2 {
  position: absolute;
  margin-top: 63vw;
  margin-left : 58vw;
  margin-right : 32vw;
  width: 10vw;
  height: 20vw;
  float: left;
  background-image: url('../image/kupuu.gif');
  background-position: center center;
  background-size: contain ;
   background-repeat: no-repeat;
  /*background-color: cyan;*/
  z-index: 20;
}

.dalamwhitehole_nav {
  width: 7.8vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  margin-top : 3.4vh;
  margin-left: auto;
  margin-right: auto;
  /*background-color: brown;*/
}

.card_homepage_top {
  width: 100vw;
  height: 115vw;
  margin: 0%;
  padding-top: 7vw;
  padding-left: 0vw;
  padding-right: 0vw;
  background-image: url('../image/typography_image.png');
  background-position: center center;
  background-size: cover ;
  /*background-color: cyan;*/
}

.card_tanganabc {
  width: 40vw;
  height: 50vw;
  float: left;
  margin-top: 5vh;
  margin-left: 30vw;
  margin-right: 30vw;
  background-image: url('../image/tanganabc.png');
  background-position: center center;
  background-size: 37vw ;
  background-repeat: no-repeat;
  /*background-color: cyan;*/
}

.card_text_homepage {
  width: 60vw;
  height: 50vw;
  float: left;
  margin-top : 0vw;
  margin-left: 20vw;
  margin-right: 20vw;
  /*background-color: cyan;*/
}

.dalamcard_text_homepage {
  width: 54vw;
  height: 50vw;
  padding: 3vw;
  /*background-color: brown;*/
}

.card_page2_top {
  width: 100vw;
  height: 70vw;
  margin: 0;
  padding-top: 5vw;
  background-image: url('../image/system_fonts_toppp4.png');
  background-position: center -2vw;
  background-size: cover ;
  background-repeat: no-repeat;
  /*background-color: cyan;*/
  
}

.dalamcard_page2_top_header {
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top : 15vw;
  /*background-color: brown;*/
  
}


.container_page2_kedua {
  width: 100vw;
  height: 1vw;
  /*background-color: cyan;*/
}

.card_nomor_page2 {
  width: 7vw;
  height: 7vw;
  margin-left: 15.25vw;
  margin-top: 2vw;
  float: left;
  background-image: url('../image/nomor_case.png');
  background-position: center center;
  background-size: cover ;
  /*background-color: brown;*/
  
}
.container_pembagian_page2 {
  width: 100vw;
  height: 35.5vw;
  margin-bottom: 2vw;
  float: left;
  margin-left: 0vw;
  /*background-color: yellow;*/
}

.card_nomor_page2 {
  width: 8vw;
  height: 8vw;
  margin-left: 47vw;
  margin-right: 35vw;
  margin-top: 2vw;
  float: left;
  background-image: url('../image/nomor_case.png');
  background-position: center center;
  background-size: cover ;
  /*background-color: white;*/
  
}
.card_text_page2_triplet {
  width: 40vw;
  height: 23vw;
  padding: 1.2vw;
  float: left;
  text-align: center;
  line-height: 3.4vw;
  margin-left: 30vw;
  /*background-color: brown;*/
  
}

.text_panjang {
  width: 87.5vw;
  padding-left: 6.25vw;
  padding-right: 6.25vw;
  height: 14vw;
  text-align: center;
  /*background-color: brown;*/
  margin-top: 84vw;
}

.main_container_homepage2 {
  width: 100vw;
  height: 330vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../image/bghome2.jpg');
  background-position: center center;
  background-size: contain ;
  /*background-color: cyan;*/
}

/**/
/**/
/**/

.main_container_page3 {
  width: 100vw;
  height: 285vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../image/bghome2.jpg');
  background-position: center center;
  background-size: contain ;
}

.card_page3_top {
  width: 100vw;
  height: 50vw;
  margin-top: 0vw;
  padding-top: 5.8vw;
  background-image: url('../image/person_typing14.png');
  background-position: right bottom;
  background-size: 200vw  ;
  /*background-color: cyan;*/
}

.dalamcard_page3_top {
  width: 75vw;
  height: 10vw;
  margin-top : 6vw;
  margin-left: 25vw;
  margin-right: 0vw;
  /*background-color: cyan;*/
}

.dalamcard_page3_top_header {
  width: 19.5vw;
  height: 11vw;
  float: left;
  margin-left: 25vw;
  margin-top : 6vw;
  padding: 1.5vw;
  text-align: center;
  /*background-color: brown;*/
}

.dalamcard_page3_top_header_right {
  width: 20.5vw;
  height: 11vw;
  float: left;
  margin-left: 5vw;
  margin-right: 11vw;
  margin-top: 6vw;
  padding: 1.5vw;
  text-align: center;
  /*background-color: brown;*/
}

.text_panjang2 {
  width: 48vw;
  padding-left: 28vw;
  padding-right: 24vw;
  height: 13vw;
  /*text-align: center;*/
  /*background-color: brown;*/
}

.container_pembagian_page3 {
  width: 100vw;
  height: 35.5vw;
  margin-bottom: 2vw;
  float: left;
  margin-left: 0vw;
  /*background-color: yellow;*/
}

.container_pembagian_page3 {
  width: 100vw;
  height: 35.5vw;
  margin-bottom: 2vw;
  float: left;
  margin-left: 0vw;
  /*background-color: yellow;*/
}

.card_nomor_page3 {
  width: 8vw;
  height: 8vw;
  margin-left: 47vw;
  margin-right: 35vw;
  margin-top: 2vw;
  float: left;
  background-image: url('../image/nomor_case.png');
  background-position: center center;
  background-size: cover ;
  /*background-color: white;*/
  
}
.card_text_page3_duo {
  width: 40vw;
  height: 23vw;
  padding: 1.2vw;
  float: left;
  text-align: center;
  line-height: 3.4vw;
  margin-left: 30vw;
  /*background-color: brown;*/
  
}

.main_container_page4 {
  width: 100vw;
  height: 147vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../image/bghome2.jpg');
  background-position: center center;
  background-size: contain ;
}

.card_page4_top {
  width: 100vw;
  height: 50vw;
  margin-top: 0vw;
  padding-top: 5.8vw;
  background-image: url('../image/davin4.png');
  background-position: center bottom;
  background-size: contain  ;
  /*background-color: cyan;*/
}

.dalamcard_page4_top {
  width: 80vw;
  height: 10vw;
  margin-top : 20vw;
  margin-left: 10vw;
  margin-right: 10vw;
  /*background-color: cyan;*/
  
}

.text_p_satu_page4 {
  width: 60vw;
  height: 12vw;
  margin-top: 5vw;
  margin-left: 20vw;
  margin-right: 20vw;
  float:left;
   /*background-color: cyan;*/
 
}

.text_p_dua_page4 {
  width: 60vw;
  height: 3vw;
  margin-top: 5vw;
  margin-left: 20vw;
  margin-right: 20vw;
  float: left;
  /*background-color: cyan;*/
}

.text_p_tiga_page4 {
  width: 60vw;
  height: 33.1vw;
  margin-top: 5vw;
  margin-left: 20vw;
  margin-right: 20vw;
  float: left;
  /*background-color: cyan;*/
}

.text_p_empat_page4 {
  width: 40vw;
  height: 14vw;
  margin-top: 5vw;
  margin-left: 18vw;
  padding: 2vw;
  padding-bottom: 3vw;
  float: left;
  background-color: white;
}

.dala {
  width: 40vw;
  height: 28vw;
  margin-top: 0vw;
  margin-left: -7vw;
  float: left;
  background-image: url('../image/ulala.png');
  background-position: center -5vw;
  background-size: 40vw ;
  background-repeat: no-repeat;
  z-index: 10
  position: absolute;
  /*background-color: cyan;*/

}

.main_container_page5 {
  width: 100vw;
  height: 225vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../image/bghome2.jpg');
  background-position: center center;
  background-size: contain ;
}